<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <nav>
    <div class="container nav-wrapper">
      <%= link_to 'The Liver', root_path, class: 'brand-logo' %>
      <ul id="nav-mobile" class="push-m2 right hide-on-med-and-down">
        <li><%= link_to 'Main Page', root_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'GitHub', "https://github.com/kubabialy/rails-blog#readme" %></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
